<!DOCTYPE html>
<html
  th:fragment="layout (title, container)"
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:replace="${title}"></title>
    <script
      type="text/javascript"
      th:src="@{/webjars/htmx.org/dist/htmx.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/webjars/htmx.org/dist/ext/head-support.js}"
    ></script>
  </head>
  <body>
    <nav>
      <ul>
        <li><a hx-get="/home" hx-target="#container">Home</a></li>
      </ul>
    </nav>
    <div id="container" th:replace="${container}"></div>
  </body>
</html>
